# Created by .ignore support plugin (hsz.mobi)

# IntelliJ project files
.idea
*.iml
out
gen

### Java template
# Compiled class file
cdp4common/target/**

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

!cdp4jsonfiledal/src/test/java/cdp4jsonfiledal/data/*.zip
!cdp4jsonfiledal/src/test/java/cdp4jsonfiledal/files/*.zip

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


**/target/**
